# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
*.log

# Envs
.venv/
venv/
.env
.env.*

# Tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
